:root {
  --gradient: linear-gradient(
    45deg,
    #6b1c6f,
    #75407c,
    #f92d56,
    #9e55a6,
    #e94584,
    #ba69c5
  );
}

.gradient-animation {
  background-size: 600%;
  background-image: var(--gradient);
  animation: bg-animation 90s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
