:root {
  --gradient: linear-gradient(
    45deg,
    #5788f1,
    #a9c9d2,
    #23f4ed,
    #036ab4,
    #ffffff,
    #69b4c5
  );
}

.gradient-animation {
  background-size: 600%;
  background-image: var(--gradient);
  animation: bg-animation 90s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
